version: '3'
services:
  # Mysql storage for the admin interface (mainly for statistics and users)
  test_grc_mysql:
    image: mysql:5.7
    container_name: test_grc_mysql
    command: --character-set-server=utf8mb4
    ports:
      - 3306:3306
    environment:
      - MYSQL_RANDOM_ROOT_PASSWORD=true
      - MYSQL_USER=test
      - MYSQL_PASSWORD=test
      - MYSQL_DATABASE=test
